/* div {
	border: 1px solid black;
} */
/* * {
	color: white;
}
.clip-input label {
	color: black !important;
} */

h1 {
	font-weight: 200 !important;
}

p {
	font-weight: 300;
	margin-bottom: 0 !important;
}

progress {
	width: 152px;
}

.App {
	min-height: 90.5vh;
	/* background-color: #f5f5f7; */
	/* background-color: #b9babd; */
	/* background-color: #3F444D; */
}

.Tool {
	max-width: 800px;
}

.clip-box {
	width: 152px;
	height: 270px;
}

.base-plan-input label {
	border-bottom: 2px solid rgb(79, 70, 229);
}
.advanced-plan-input label {
	border-bottom: 2px solid rgb(239, 68, 68);
}
.premium-plan-input label {
	border-bottom: 2px solid rgb(245, 158, 11);
}

.feature-contain label {
	/* display: none; */
	white-space: nowrap;
}

.music-player audio[disabled] {
	pointer-events: none;
	opacity: 0.5;
}