/* div {
	border: 1px solid black;
} */
/* * {
	color: white;
}
.clip-input label {
	color: black !important;
} */

h1 {
	font-weight: 200 !important;
}

h2 {
	font-weight: 200 !important;
}

h4 {
	font-weight: 200 !important;
}

p {
	font-weight: 300;
	margin-bottom: 0 !important;
}

progress {
	width: 152px;
}

.App {
	min-height: 91vh;
	/* background-color: #f5f5f7; */
	/* background-color: #b9babd; */
	/* background-color: #3F444D; */
}

.Tool {
	max-width: 800px;
}

.document {
	max-width: 800px;
}

.Subscriptions {
	max-width: 1010px;
}

.clip-box {
	width: 152px;
	height: 270px;
}

.base-plan-input label {
	border-bottom: 2px solid rgb(79, 70, 229);
}
.advanced-plan-input label {
	border-bottom: 2px solid rgb(239, 68, 68);
}
.premium-plan-input label {
	border-bottom: 2px solid rgb(245, 158, 11);
}

.feature-contain label {
	/* display: none; */
	white-space: nowrap;
}

.music-player audio[disabled] {
	pointer-events: none;
	opacity: 0.5;
}

.loading-icon {
	color: #0d6efd;
}

@keyframes fadeout {
	from { opacity: 1; }
	to   { opacity: 0; }
  }
  
  .fade-out {
	animation-name: fadeout;
	animation-duration: 3s;
	animation-fill-mode: forwards; /* this makes the element stay at the end state of the animation */
  }

.capitalize::first-letter {
    text-transform: capitalize;
}

.my-modal .modal-dialog {
    max-width: 80%;
}